<!HTML>
<html>
<head>
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/default.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
<style>



</style>
<title>Ajjibettu Friends, Place where friendship got its new meaning.</title>
<meta name="description" content="AJFreinds, A tribute to our 10years old friendship. Without this group life would have not easy.">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/default.js"></script>


</head>

<body ng-app="homepageslider" ng-controller="slider">

    <section class="Home" id="Home">
	<h1 class="Pagetitleheader">Aj Friends, For friends by friends</h1>
           <div class="ajLogo">
                <img src="images/logo.png"  width="147" height="122" alt="AJ FRIENDS"/>
           </div> 
        <div class="HomeContent">
			 <a href="javascript:;" ng-click="knowmore()"><img src="images/homepagelogo.png"  width="223" height="331" class="WelcomeText" alt="We Friends"/></a>
        </div>
    </section>


    <section class="AboutUs" id="AboutUs">
           <div class="ajLogo">
                <img src="images/logo.png"  width="147" height="122" alt="AJ FRIENDS"/>
           </div> 
        <div class="AboutUsContent">
               <!--slider starts from here-->         
                            <div  class="PageWrapper">
                                    <div  id="holder">
                                    <section class="container">
                                      <section class="content">

    
                                        <section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                      <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/pavan.jpg" width="80%" alt="Pavan Kamath" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Pavan Kamath</h2>
                                                            <h6>Tech Lead @ Digital Juice Animations</h6>
                                                            <p class="textleft">It was ‘Rent and Current bill’ payment day. The kid of our room ‘Pavan’ had his own unique way of revealing the amount, 
															may be had hosted some Tv show back in his previous life, he would message us to guess the current bill, all of us would have a fight later at night as to who made a 
															correct guess. This was practiced throughout and i would often end up with a wrong guess. Now that i have mentioned ‘Pavan’ let me go a step ahead. Tall, 
															hefty and muscular are the attributes he wished he was associated with. He liked to have strange ornaments around his neck which actually meant a few extra pounds, 
															A cell phone which was big enough and at panic times could be used as a skateboard with few wheels sticked around for a quick escape. 
															And would wear a glass that gave a studious look. He couldn’t do without a jeans which he would wear to bed, I am not sure about the bath time, 
															it was more like his second skin. I know he’ll kill me once he reads this post, so i’ll end up with a few good things about him.. He had a little scholar in him,
															would never carry a book to college, nor would he study till the last day of exam but still came up with great results. A computer geek and knew in and out about stuffs that we’ve hardly come across. 
															Had a female fan following which he never revealed to us till date .. and was loved by everyone, he was indeed a kid amongst us .. but had a temperament which hardly anyone of us could match with. 
															Had his own way of dealing with things, the definition of word ‘Cool’ perfectly suits him. Damn, sometimes i wonder how can someone be so easy going ..!! </p>
                                                            <p><strong>For more info visit</strong><a href="http://www.facebook.com/pavan.kamath" target="_blank">http://www.facebook.com/pavan.kamath</a></p>
                                                            <p><strong>Follow me on</strong><a href="http://www.twitter.com/itsmepa1" target="_blank">http://www.twitter.com/itsmepa1</a></p>
                                                        </div>
                    
                                                    </div> 
                                              </div>
                                          </fieldset>
                                        </section>

                                        <section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout" >
                                                      <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/gaja.jpg" width="80%" alt="Gajanan Kamath" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Gajanan Kamath</h2>
                                                            <h6>Tech Lead @ HCL</h6>
                                                            <p class="textleft">One of the creative creature in our group. This man is well known for his well-timed, humorous jokes & happy-go-lucky charm. 
															Very much cautious about his looks, who idolizes John Abraham. Highly ambitious and talented fellow who can sweep you off with his words is my far relative too. 
															While I was enjoying my summer vacations during school, I used to visit my granny’s place, where we used to play cricket. 
															Together, we had broken lot of tube lights and window pane and once almost %$$# (remember that full speed swinger? ;) ) Jokes apart, 
															I appreciate him for the way he handled the challenges faced in life so early. The way he coped up, with that smile never leaving his face, high self confidence to achieve something out of any dark period. 
															A great lad to hang out with. I would say, one in the top list, who will be missed dearly, if left out.</p>
                                                            <p class="textleft">Pretty sensitive about his looks and skin! May look like he takes everything lightly and makes fun of others all the time, but has a soft sensitive heart inside. 
															Has a good hold on his language and more over possesses a self-confidence which makes the difference. Has a unique skill – sketching, 
															which he rarely does now a days. Owns a blog which is fun to read (check my blog list)</p>
                                                            <p><strong>For more info visit</strong><a href="http://www.facebook.com/gajanan.kamath" target="_blank">http://www.facebook.com/gajanan.kamath</a></p>
                                                            <p><strong>Follow me on</strong><a href="https://twitter.com/gajanankamath" target="_blank">https://twitter.com/gajanankamath</a></p>
                                                            <p><strong>visit my blog</strong><a href="http://gajanankamath.blogspot.in" target="_blank">http://gajanankamath.blogspot.in</a></p>
                                                        </div>
                    
                                                    </div> 
                                              </div>
                                          </fieldset>
                                        </section>

                                        <section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">


                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/devi.jpg" width="80%" alt="Devidas s Maller" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Devidas s Maller</h2>
                                                            <h6>QA Analist @ Infosys</h6>
                                                            <p class="textleft">You cannot judge a person by the way he looks. Devi - Excellent example! With his huge personality (I can say he was slim if compared to what he gained now), brownish color and grey/white hair – didn’t look like what he actually is. 
															It didn’t take much time for me (or for anyone for that matter) to become his fan once I get to know about him. I saw him while playing table tennis in canara college hostel for the first time. Must say, a great player. 
															But then I came to know, he can play almost anything and not just play, he can play it really well. With his down to earth, straight forward, charming and great sense of humor he had already made lot of friends in college. 
															He can go and speak to anyone without any hesitation – with that I meant, any gal ;) … Don’t get me wrong, he wasn’t flirting. He is a nice guy and want to keep his contact list overcrowded. 
															(believe me, he was fast out of space in his mobile contact list!). A great leader (he was our president - the only deserving and eligible candidate) and a wonderful human being.</p>
                                                            <p class="textleft">I was privileged (no, I am not exaggerating) to be his roommate for the final 2 years in college. That’s the time perhaps I came to know more about him.
															Happy go lucky person, well aware of his responsibilities, who values his parents to the max. Doesn’t keep things in heart, get along with people pretty fast and nicely. 
															Friendly and Fun to be with. Used to study at the last moment (well last moment can be defined in various level for engg. Students. I would say – devi’s last moment used to come in the late stages of study holidays). 
															Still,  he managed to get distinction or close to that. A gold medalist in his branch, truly deserving. Whatever he does, gives his best shot with no fear. A best example for – all rounder (not just in Cricket). </p>
                                                            <p><strong>For more info visit</strong><a href="https://www.facebook.com/devidas.smaller" target="_blank">https://www.facebook.com/devidas.smaller</a></p>
                                                            <p><strong>Follow me on</strong><a href="https://twitter.com/devidas_smaller" target="_blank">https://twitter.com/devidas_smaller</a></p>
                                                            <p><strong>visit my blog</strong><a href="http://anythingeverything-devidas.blogspot.in/" target="_blank">http://anythingeverything-devidas.blogspot.in/</a></p>
                                                        </div>
                    
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>
										
										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/krishna.jpg" width="80%" alt="Krishna Kamath" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Krishna Kamath</h2>
                                                            <h6>Project Lead @ Source Bits</h6>
                                                            <p class="textleft">The only guy who would give a stiff competition to our next door neighbor, you know the context i am referring to :) I have never seen a person who would literally decompose chicken like it never existed, 
															even a cat would spare the bones but this guy chucks down everything :) Another luxury he always wished to have was sleep and the duration could be from 24 seconds to 24 hours. 
															Also on the list were chocolates and Ice creams! So now you know his fetish for food ranging from chicken to Ice creams let me explore few other things. 
															Coming to the way he used to study i wonder had the author of the book done so much of research before writing it would have given up half way through. 
															Programs were like normal conversation to him and used to top in almost all the practical labs. Coming to the typing speed he couldn’t do without a ‘Delete’ key :) 
															Could type a paragh only in a days time, phew so fast .. Imagine !! He believes in god like we all do but none could match his level and that meant fasting on Mondays, No non-veg on Tuesdays, 
															only water on Thursdays, more like these :) Yeah he had a crush in college, who doesn’t :) he has come over it now! lastly the way he used to approach elders it was more like the elders 
															after having conversed with him would feel ‘Damn it, wish we had a son like him’. I know this guy for the past 12 years now but that is altogether a different story. 
															Each one of us have a special place for him in our lives and the respect all of us have for this guy is par expectations. He is the only reason why the ajjibettu group is still in tact till date. A good friend mentor, adviser, counselor .. 
															yeah words fall short for this guy. Has made an impact on each one of our lives. He is the reason i opened this blog ‘Ajjibettu’ as it would never have been the same without him.</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/hkrishna.kamath" target="_blank">https://www.facebook.com/hkrishna.kamath</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>
										
										
										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/shomith.jpg" width="80%" alt="Shomith Kini" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Shomith Kini</h2>
                                                            <h6>Software Engineer @ Collabera</h6>
                                                            <p class="textleft">How far have you gone on to read a newspaper, yeah i know we would often go through the entertainment pages and a rare case would be a peek into some political news. This guy i am going to brief on would literally read each and every single letter from a newspaper and end up eating it .. 
															Phew!! a walking talking news machine .. there was nothing he didn’t knew about. Almost missed the Limca book of world records for most number of sneezes in 60 seconds .. 
															Another category where he made a decent try was to wobble down 6 chapathis in a minutes time. An ardent lover, has many secret admirers and that list includes a lot of tall people more like Brazilian models .. 
															Loved playing volleyball even if it meant wearing dozens of knee scrap band aids, was quite good in the game and at times had his own way of ‘Emotional Approach’. 
															Has got many ‘One liners’ to his credits with the special ‘Shomith’ tag. What he’s doing now? A lecturer turned software professional who was recently honored as chief guest in a NIIT program. 
															Has given talks on various topics and has set a benchmark for all juniors. This dude helped students of our college to prepare for ‘Placements’, 
															gave training, provided materials and did every possible thing one could possibly do. A mature guy .. Has been through many up’s and down’s in life and faced it with a ‘Smile’ in his face. 
															A guy who i would always go up to and seek advice. Has been one of the role models in my life, truly a mother’s pride and i am proud to have a friend like him. :) </p>
															<p>Doesn’t get angry, no matter how much you make fun of him. Or shall I say, he hides his emotions. Not so expressive in real life, and very much expressive on stage J A veteran actor and a script writer. 
															Passionate about Kannada and follower of RSS. The one whom you can take classed on how to bargain and make a right/smart deal! Loves volleyball but after undergoing knee surgery and building some tiers around the belly, 
															stopped playing. (heard he is into coaching now.. ;) ). Jokes apart, a great friend and a great person. 
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/shomithkini" target="_blank">https://www.facebook.com/shomithkini</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>
										
										
										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/nagendra.jpg" width="80%" alt="Nagendra Pai" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Nagendra Pai</h2>
                                                            <h6>Software Engineer @ IBM</h6>
                                                            <p class="textleft">Oh well .. where shall i start from, i am sure I’ll run out of space. Talk about ‘Transition’ and this guy completely freaks me out. There’s no funny part here.. 
															He was more like a guy who would go about daily life ‘The Text Book’ way. No Quarrels, Hassles, very quiet & I hardly new he was around as back in the hostel days he used to be in the second next room to mine and we hardly ever talked. 
															Strange enough, his room mate was my best friend then, ‘Mallya’ who was a very unique character and I’ll definitely come up with a detailed post about him. 
															But then as we entered 5th semester is when the transition had slowly begun, nagmam used to come to our room, was more into mild music stuff and this visit became more frequent which ended up with me taking lessons from him 
															in the music category or quick one liners, games and PC stuffs. I thought “Well, he has come a long way indeed, good for him”. 
															The change was evident when he actually joined us for a party late in the 6th semester and had his first sip of beer. God!! I was searching for a place to hide .. 
															how can one change himself like this, where did the inspiration come from? .. who could that be? still these questions are unanswered. 
															Later on his room mate mallya went nuts over this guy having seen the changes in him and the already unique Mr Mallya had lost his mind!! But nagmam never really let this change have effect on his studies, 
															actually he fared well in the latter semesters :) got placed in Wipro and when he actually narrated how he went about the interview.. my impression over this guy hit the next level. 
															I am really happy to have met someone like him in my life .. I’d rather say happy to have met the second ‘Nagmam’ :) 
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/nagendra.pai.79" target="_blank">https://www.facebook.com/nagendra.pai.79</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>	

										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/damodar.jpg" width="80%" alt="Damodar Shenoy" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Damodar Shenoy</h2>
                                                            <h6>TechLead @ Techjini</h6>
                                                            <p class="textleft">Damu also known by the name "Dams", another late (but not the least) entry to our family is one of most versatile and 
															enthusiastic person .. carries a bundle of energy that never seems to charge out, he is a person of varying interests spanning across the 
															field of dance, music, guitars, rock, tech .. you name it .. he seems to make the most of every single moment of life .. he is ready to roll 
															even if you wake him in wee mid night hours, that said he sleeps well in office and makes sure he has enough energy to burn for the rest of 
															evening :) Don't you dare get into a debate on any topic that's close to "Apple Inc.", you will get busted with facts that'll keep your 
															mouth shut for the most part .. In the same line he seems to have drawn the style factor from "Jobs" himself and that is "to keep it simple" .. 
															you can see him sporting a beard with a simple T-shirt/Jeans in almost all occasions..
															he's one reason for making the Aj group all the more happening!! 
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/itsdamslife" target="_blank">https://www.facebook.com/itsdamslife</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>	


										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/mithesh.jpg" width="80%" alt="Mithesh Shetty" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Mithesh Shetty</h2>
                                                            <h6>Procurement Analyst @ Accenture</h6>
                                                            <p class="textleft">Mithesh also known by his pet name Mithu .. one of the last (but not the least) member to board the Aj friends group. 
															By far the most groomed and In-shape guy, he has a secret (not any more) "Onji Yaav" meaning "1 is good" or to be more specific 
															"take 1 whatever it is" ;) Moving on to other traits .. he is very soft spoken.. carries a smile that will cheer up any one, that said it's 
															easy to guess his popularity among the ladies .. He's the only non-konkani guy between us, but whats astonishing is the fact that he's gelled 
															so well with everyone breaking that language barrier, and has a special bond that is impossible to break. This guy likes to travel and for the 
															most part "in Car", he has a passion for driving such that he can be on wheels for days together. He is one of the most dependable person and 
															can be counted for in any dire situations. Here's hoping that he brings in all the more charisma and sparkle to our group..
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/mithesh.shetty.9" target="_blank">https://www.facebook.com/mithesh.shetty.9</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>	

										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/puneeth.jpg" width="80%" alt="Puneeth Nayak" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Puneeth Nayak</h2>
                                                            <h6>Tech Lead @ Microsoft</h6>
                                                            <p class="textleft">Puneeth sweetly known as "Pundi" in the Aj group is one of the most adored person, everyone likes to bully him but he takes it so 
															sportingly that makes everyone marvel "how cool is this guy". His personality can be easily imagined with the help of adjectives 
															which most of us wished to be associated with, such as "cool, patient, calm, thoughtful". He has the distinction of working with a company 
															which is a dream for most IT guys that is "MICROSOFT", this also shows his good hold in the technical space, backed with a good academic record.. 
															Most of us have witnessed his grasping power during the night outs before semester exams :) Pundi for the most part follows the principle 
															"Silence is golden" and chooses his words carefully before speaking .. 
															He is all the more popular for his set of questions while you seek any information from him .. make sure you do your homework in advance :) 
															There is a little less known about his interests though (compared to others) as he likes to keep them hush hush secret .. 
															It's definitely a mission for us in Aj family to dig deep into him and gather a for a big surprise .. 
															3 cheers to the most loving person in our group!
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/puneethnayak" target="_blank">https://www.facebook.com/puneethnayak</a></p>
															
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>	

										<section class="section">
                                          <fieldset>
                                            <div class="forLiquidLayout">
                                                <div class="MemberInfo">
                                                        <div class="ProfilePic">
                                                            <img src="images/About/sunil.jpg" width="80%" alt="Sunil padiyar" />
                                                        </div>
                                                        <div class="MemberContent">
                                                            <h2>Sunil padiyar</h2>
                                                            <h6>Tech Lead @ Sapient</h6>
                                                            <p class="textleft">Calm, Cool, Handsome, Respectful person who justifies every words meaning. He is gifted with lot of talent and I just can’t stop envying him. 
																				A person who has impressed a lot of ppl with his humbleness and truthfulness, a person who has “many” secret admirers..																	
																				He just loves being himself. He has this small way of thinking differently which no one else can... 
																				Has written a nice love story which he claims is just a fiction!!! not sure how far it is true...
																				The heartthrob of our batch, the “Singing IDOL” of our batch, Best actor on stage, you have to see his true acting skills when he is acting for a mime, best narrator for skits. 
																				Responsible, caring, emotional at times, very humble and very stylish.Loves his family and friends. Respects his parents immensely, thinks about them before making a decision for his own good. 
																				Only thing which was a negative about him was his mood… if he thinks he does not want to do anything then no one can help it, no one can make him understand anything or may be no one knew how to persuade him...
																				but the happiest part is he has almost come over it now to a extent… that’s what he claims atleast!!! Not sure who is responsible for these changes in him.. 
																				That is Sunil Padiyar for you, if you are not able to keep him as a friend for life, then definitely you are missing something… 
																				
															</p>
															<p><strong>For more info visit</strong><a href="https://www.facebook.com/sunil.padiyar" target="_blank">https://www.facebook.com/sunil.padiyar</a></p>
															<p><strong>visit my blog</strong><a href="http://sunilpadiyar.blogspot.in/" target="_blank">http://sunilpadiyar.blogspot.in/</a></p>
                                                       </div>
                                                    </div> 
                                            </div>
                                          </fieldset>
                                        </section>											
										
										
										
                                      </section>
                                    </section>
                                     <a ng-click="slide('prev');" class="prev" href="javascript:;" ><span class="PreviousArrow"><img src="images/arrowleft.png" alt="" width="69px"></span></a>
                                    <a ng-click="slide('next');" class="next" href="javascript:;" ><span class="NextArrow"><img src="images/arrowright.png" alt="" width="69px"></span></a>
                                    </div>
                                    </div>
               <!--slider ends here-->
        </div>
    </section>

    <section class="Blogs">
        <div class="ajLogo">
                <img src="images/logo.png"  width="147" height="122"/>
           </div> 
        <section>
                <div class="topInfoWrapper">
                    <div class="topInfo">
        	                    <div class="ajjibettuLogo"><h2>Ajjibettu</h2></div>
                                <div class="topInfo">At its core, writing is communication. It is about recording thoughts on paper and compelling others to agree with them. Because the process of writing includes recording thoughts on paper, the blogging process encourages you to stop and think deeper. blogging is a never-ending process of choosing to articulate the most meaningful events and the most important thoughts. It is a selfless act of service to invest your time, energy, and worldview into a piece of writing and then offer it free to anybody who wants to read it. Others will find inspiration in your writing… and that’s a wonderful feeling.</div>
                    </div>
                </div>
                <div id="main_content">
                        <div class="Blogcontent">
                        <div class="content_left">
                        <a href="http://sunilpadiyar.blogspot.in/" target="_blank"><img src="images/sunil_blog.png" width="250" height="99" border="0" alt="Through the eyes of sunil" /></a>
                        <p>Night travel wasn't new for me since I moved to Bangalore. And post marriage I was always accompanied by my wife (or shall I say, she was accompanied by me). However, my last travel was unusual not because I was travelling without her - but the next seat was occupied by a seemingly charming and extravagantly beautiful girl. <a href="http://sunilpadiyar.blogspot.in/" target="_blank">Read More</a><br><br><br></p>
						<div class="contet_left_wrapper"></div>
                        </div>
        
                        <div class="content_right">
                        <a href="http://gajanankamath.blogspot.in/" target="_blank"><img src="images/gaja_blog.png" width="259" height="99" border="0" alt="Lots to write.. Gajanan Kamath" /></a>
                        <p>It's not everyday that one comes across this feeling of having made a difference in the routine course of work. But when it happens and you see that it has made people's life at work better, the feeling deep within is unimaginable. Here's one such incident that I would like to recall that happened not so far ago! <a href="http://gajanankamath.blogspot.in/" target="_blank">Read More</a> <br><br><br></p>
						<div class="contet_right_wrapper"></div>
                        </div>
                        <div class="content_left">
                        <a href="http://anythingeverything-devidas.blogspot.in/" target="_blank"><img src="images/devi_blog.png" width="250" height="99" border="0" alt="Anything n Everything.. Devidas s maller" /></a>
                        <p>“Day by day nothing changes, but when you look back everything is different… “– Definition for life... A new day and a New Year and like all I have my own resolutions… A few of them are unrealistic, a few of them are unpractical, a few unimaginable and the rest handful of them realistic, practical and achievable.<a href="http://anythingeverything-devidas.blogspot.in/" target="_blank">Read More</a> <br><br><br></p>
						<div class="contet_left_wrapper"></div>
                        </div>
						
						<div class="content_right">
                        <a href="http://damodar.wordpress.com/" target="_blank"><img src="images/damodar_blog.png" width="259" height="99" border="0" alt="In search of a passion to live and explore life…, Damodar Shenoy" /></a>
                        <p>For the last couple of months I have been travelling around 10 kilometres one way to work. And I travel thru one of the busiest streets. Last week a thought, I can say a question, strikes me – why is it so busy? Why is there a lot of traffic jam?<a href="http://damodar.wordpress.com/" target="_blank">Read More</a> <br><br><br></p>
						<div class="contet_right_wrapper"></div>
                        </div>
                        </div>
                </div>
            </section>
        </section>

        <section class="Gallery">
            <div class="ajLogo">
                <img src="images/logo.png"  width="147" height="122"/>
            </div> 
            <div class="topgalleryWrapper">
                    
            </div>
            <section class="GalleryContentWrapper">
			<h2>Gallery</h2>
            <div class="GalleryContent">
				<ul class="galleryThums">
					<li>
						<div class="topSlider"></div>
						<img src="images/ajgroup.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">Get together of AJ group</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/bbqnation.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">AJ Friends at BBQ Nation</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/couples.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">couples of aj group</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/dudhsagar.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">at dudhsagar trekking</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/Goa.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">water sports in goa</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/hogenakal.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">at hogenakal</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/Sunilbday.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">Birthday celebrations</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/bday.JPG" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">Birthday celebrations</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/latestaj.jpg" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">2013 Get together</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/brhills.jpg" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">road trip tp BR hills</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/nandihills.jpg" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">Road trip to nandi hills</div>
					</li>
					<li>
						<div class="topSlider"></div>
						<img src="images/sakleshpura.jpg" alt=""/>
						<div class="bottomSlider"></div>
						<div class="test">Trek in Sakleshpura</div>
					</li>

				</ul>
            </div>
            </section>
        </section>

        <section class="ComingSoon">
                <div class="ComingSoonWrapper">
                        <div class="portfolio">Portfolio.. Coming Soon</div>
                        <div class="about">About.. Coming Soon</div>
                        <div class="moreNews">MoreNews.. Coming Soon</div>

                </div>
        </section>

</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44616877-1', 'ajfriends.com');
  ga('send', 'pageview');

</script>

